
<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: lightblue;">

    <!-- Footer Links -->
    <div class=" text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-sm-2 col-md-5 col-lg-5 about-footer">
                <div class="container" style="width: 45rem; margin-left: 20px; margin-right: 10px;">
                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">OUR STORY</h5>
                <p>We have been doing business since 1990. In 1994 we started our  company “Shaktirugs” in which we mainly supplied rugs
                domestically only and then gradually exported to other countries mainly USA.
                In 2005 we started making storage items like Crunch cans, Bags, Wall and Pocket hangings etc. and also exporting these
                items to USA, Canada, Norway, Sweden and other western and European countries.
                In 2019 we made a new company named <strong>CRESCENT EXPORT</strong> mainly for the storage items. We are the manufacturer and exporter
                of the storage items. We Export modern, affordable, competitive price and quality products. We have been known for
                delivering our goods on time and also for maintaining their quality. Our main motive is to keep our customers happy with
                our service.</p>
                </div>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-sm-2 col-md-2 col-lg-2 about-products">
                <div class="container">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">PRODUCTS</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="/products/bags" class="link">BAGS</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="/products/storages" class="link">CRUNCH STORAGE</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="/products/zippers" class="link">CRUNCH STORAGE ZIPPER BIN</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="/products/poufs" class="link">CUSHION & POUFS</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="/products/hangings" class="link">WALL & POCKET HANGINGS</a>
                        </p>
                    </li>
                </ul>
                </div>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-sm-2 col-md-5 col-lg-5 about-adress">
                <div class="container" style="width: 45rem; margin-left: 20px; margin-right: 10px;">
                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

                <ul class="list-unstyled">
                    <li>
                        <p><i class="fas fa-map-marker-alt mr-2"></i> Rz-1022
                        RZ-44D, Street No. 5/8, Main Sagarpur, New 
                        <span style="margin-left: 20px;">Delhi -110046</span> 
                        </p>
                    </li>
                    <li>
                        <i class="fas fa-envelope mr-2"></i> <a href="mailto:info@crescentexports.com"
                            style="font-size: 1.8rem;" class="link">info@crescentexports.com
                        </a>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-envelope mr-2"></i> Crescentexport9@gmail.com</p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone mr-2"></i> +91 9810326719, +919953212214</p>
                    </li>

                </ul>
                </div>
            </div>
            <!-- Grid column -->

            

            <!-- Grid column -->


        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <hr>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="font-size: 2.0rem;">© 2020 Crescent Exports Private Limited. All Rights Reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>