<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crescent Export</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Roboto:wght@300;400;700&display=swap"
        rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark mr-auto fixed-top">
        <a class="navbar-brand" href="/"><img src="https://i.ibb.co/YQ37gst/CE-logo-3-4.png" alt="" style="margin-top: 7px; margin-bottom: 7px;"> Crescent Export</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/products/bags">Bags</a>
                        <a class="dropdown-item" href="/products/storages">Crunch Storage</a>
                        <a class="dropdown-item" href="/products/zippers">Crunch Storage Zipper Bin</a>
                        <a class="dropdown-item" href="/products/poufs">Cushion & Poufs</a>
                        <a class="dropdown-item" href="/products/hangings">Wall & Pocket hangings</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/enquiry">For Further Enquiry</a>
                </li>
            </ul>
        </div>
    </nav>
    
