<%- include("./partials/header.ejs") %>
<main>
    <main>
        <div class="conatiner contact_container">
            <div class="jumbotron contact_jumbo">
                <div class="container">
                    <picture class="contact_logo">
                        <source media="(max-width: 20rem)"
                            srcset="https://i.ibb.co/0YswndR/1.png, https://i.ibb.co/93fx8NX/CE-logo-2-8.png">
                        <img src="https://i.ibb.co/0YswndR/1.png" alt="">
                    </picture>
                </div>
                <h1 class="display-4 mb-5" style="text-align: center;">For Enquiry or Orders</h1>
                <p class="lead">
                    <i class="fas fa-building"></i> Office Address: Rz-1022 RZ-44D, Street No. 5/8, Main Sagarpur
                    New Delhi-110046
                    <br>
                    <i class="fas fa-industry"></i> Factory Address: GROUND FLOOR, PLOT NO.- A-2/158, KUNWAR SINGH NAGAR, KH. NO.-
                    14/23/1, NEW DELHI, West <span style="margin-left: 25px;"> Delhi, Delhi, 110041</span>
                    <br>
                    <i class="fas fa-phone"></i> Sunil Bhardwaj- +91 9810326719
                    <br>
                    <i class="fas fa-phone"></i> Tushar Bhardwaj- +91 9953212214
                    <br>
                    <i class="fas fa-tty"></i> Office- 011 28525250
                    <br>
                    <i class="fas fa-envelope"></i> Email: <a href="mailto:info@crescentexports.com">info@crescentexports.com</a>
                    <br>
                    <i class="fas fa-envelope"></i> Email: Crescentexport9@gmail.com
                </p>
            </div>
        </div>
    </main>
</main>
<%- include("./partials/footer.ejs") %>